// About

.about {
  max-width: $global-max-width;
  padding: 0 5% 0 5%;

  @media (max-width: 640px) {
    padding: 0 0 0 0;
  }

  .officer__container {
    padding: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 800px) {
      padding: 0 0 0 0;
    }
  }

  .officer__block {
    width: 200px;
    overflow: hidden;
    margin-top: 30px;

    img {
      margin-left: -60px;
    }

    h3, p {
      margin: 0 0 0 0;
    }

    h3 {
      margin-top: 5px;
    }

    p {
      color: $grey;
    }

  }

  .officer__block-empty {
    max-height: 0;
  }
}
