.index {  

  .hero p {
    font-size: 16pt;
  }

  .hero__right {
    max-width: 50%;
    
    @media (max-width: 640px) {
      max-width: 100%;
    }

    video {
      width: 70%;
      float: right;

      @media (max-width: 640px) {
        display: none;
        width: 100%;
      }

    }
  }

  .row__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .row {
    width: 100%;

    p {
      width: 40%;
    }

    img {
      width: 70%;
      max-width: $global-max-width * 0.7;
    }
  }

  .row__left {
    p {
      margin-left: 5%;
    }
  }

  .row__midhalf {
    width: 40%;
    margin: 5%;

    p, img {
      width: 100%;
    }
  }

  .row__right {

    p {
      float: right;
      margin: 20px 5px 5px 5px;
      padding-left: 50%;
      text-align: right;
      padding-right: 5%;
      width: 100%;
    }

    img {
      width: 70%;
      float: right;
    }
  }
}
