.index {
  font-family: "Museo Sans";
  color: $dark-grey;
  
  .hero {
    max-width: $global-max-width;
    padding: 100px 50px 0px 50px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      font-weight: 300;
      margin-bottom: 0;
    }

    p {
      font-weight: 500;
    }
  }

  .hero__left {
    max-width: 50%;
  }

}
