.particle {
  position: absolute;
  will-change: transform;
  pointer-events: none;
}

.campaign_overlay__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campaign_overlay__buttons {
  display: flex;
  min-width: 300px;
  width: 70%;
  justify-content: center;
  padding-top: 30px;
  @media (max-width: 470px) {
    padding-top: 10px;
  }
}

// Spring 2019 Home Page

.header__container {
  display: flex;
  max-width: 100vw;
  transform: translateY(-10vh);
  // overflow-x: hidden;
  // overflow-y: visible;
  overflow: hidden; 
  background-image: linear-gradient(#FFFCF3 50%, #FFF 100%);
  @media (max-width: 470px) {

  }

}

.hero__container {
  flex: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0 20%;
  // transform: translateY(-10vh);
}

.hero__container .heading-wrapper {
  position: relative;
  width: 440px;
  height: 322px;
  @media (max-width: 470px) {
    width: 352px;
    height: 380px;
  }
}

.hero__container .heading {
  position: absolute;
}

.hero__container .bubble-upper {
  position: absolute;
  z-index: -1;
}

.hero__container .bubble-lower {
  position: absolute;
  top: 100px;
  left: 220px;
  z-index: -1;
}

.hero__container p {
  color: #2D636D;
  margin-top: 40px;
  max-width: 500px;

  @media (max-width: 470px) {
    margin-top: 10%;
    font-size: 14px;
    min-width: 100%;
    width: 80vw;
  }
}

.hero__container h1 {
  font-family: 'Rakkas', cursive;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 2px;
  margin-top: 8px;
  margin-bottom: 0px;
  color: #FFF;
  max-width: 500px;
  min-width: 500px;
  @media (max-width: 470px) {
    font-size: 40px;
    min-width: 100%;
    width: 80vw;
  }

  @media (max-width: 320px) {
    font-size: 32px;
  }
}

.hero__container .subtitle {
  font-size: 20px;
}

.hero__container img {
  @media (max-width: 470px) {
    margin-top: 30%;
    zoom: 80%;
  }
}

#camera {
  z-index: 10;
  max-width: 100px;
  top: 280px;
  left: 50px;
  @media (max-width: 1440px) {
    left: 280px;
  }

  @media (max-width: 1024px) {
    left: 300px;
  }

  @media (max-width: 470px) {
    top: 3%;
    left: 36%;
  }
}

#panel {
  max-width: 280px;
  top: 440px;
  left: -200px;
  @media (max-width: 1440px) {
    left: -140px;
  }

  @media (max-width: 1024px) {
    top: 400px;
    left: 30px;
  }

  @media (max-width: 470px) {
    visibility: hidden;
  }
}

#pentoolguy {
  max-width: 200px;
  top: 500px;
  left: -290px;
  @media (max-width: 1440px) {
    left: -220px;
  }

  @media (max-width: 1024px) {
    top: 360px;
    left: -50px;
  }

  @media (max-width: 470px) {
    visibility: hidden;
  }
}

#laptopguy {
  max-width: 400px;
  top: 400px;
  left: 200px;
  @media (max-width: 1440px) {
    left: 240px;
  }

  @media (max-width: 1024px) {
    left: 200px;
  }

  @media (max-width: 470px) {
    visibility: hidden;
  }
}

#leg {
  max-width: 300px;
  top: 600px;
  right: -370px;
  @media (max-width: 1440px) {
    right: -420px;
  }

  @media (max-width: 1024px) {
    right: -465px;
  }

  @media (max-width: 470px) {
    top: 80%;
    left: 146%
  }
}

#blob2 {
  max-width: 500px;
  top: 500px;
  left: 0px;
  @media (max-width: 1440px) {
    left: -54px;
  }

  @media (max-width: 1024px) {
    left: -30px;
  }

  @media (max-width: 470px) {
    top: 88%;
    left: 14%;
  }
}

#blob3 {
  max-width: 500px;
  top: -200px;
  right: -370px;
  @media (max-width: 1440px) {
    right: -420px;
  }

  @media (max-width: 1024px) {
    right: -465px;
  }

  @media (max-width: 470px) {
    top: -10%;
    left: 100%
  }
}

#stairs {
  max-width: 500px;
  top: 360px;
  left: -300px;
  @media (max-width: 1440px) {
    // top: 300px;
  }

  @media (max-width: 1024px) {
    left: -160px;
  }

  @media (max-width: 470px) {
    top: 65%;
    left: 90%;
  }
}

#web {
  max-width: 360px;
  top: 80px;
  left: 140px;
  @media (max-width: 1440px) {
    // top: 0px;
    left: 180px;
  }

  @media (max-width: 1024px) {
    top: 80px;
    left: 140px;
  }

  @media (max-width: 470px) {
    top: 42%;
    left: 20%;
  }
}

#hole {
  top: 240px;
  left: 380px;
  @media (max-width: 1440px) {
    // top: 160px;
    left: 400px;
  }

  @media (max-width: 1024px) {
    top: 280px;
    left: 260px;
  }

  @media (max-width: 470px) {
    top: 0%;
    left: 10%;
  }
}

#camera-girl {
  max-width: 520px;
  top: 500px;
  left: 180px;
  @media (max-width: 1440px) {
    // top: 400px;
    left: 200px;
  }

  @media (max-width: 1024px) {
    top: 560px;
    left: 140px;
  }

  @media (max-width: 470px) {
    top: 80%;
    left: 20%;
  }
}

#hanging-person {
  max-width: 400px;
  top: -60px;
  left: -200px;
  @media (max-width: 1440px) {
    // top: -100px;
    left: -160px;
  }

  @media (max-width: 1024px) {
    top: -100px;
    left: -60px;
  }

  @media (max-width: 470px) {
    left: 140%;
  }
}

#lightbulb {
  max-width: 500px;
  top: 120px;
  right: 50px;
  @media (max-width: 1440px) {
    // top: 80px;
    right: 0px;
  }

  @media (max-width: 1024px) {
    top: 160px;
    left: -300px;
  }

  @media (max-width: 470px) {
    top: 24%;
    left: 128%;
  }
}

#cloud-1 {
  width: 1000px;
  top: -400px;
  z-index: 10;
}

#cloud-2 {
  width: 1000px;
  top: 500px;
  z-index: 10;
}

#cloud-3 {
  width: 1000px;
  top: 150px;
  left: -200px;
  z-index: 9;
}

#cloud-4 {
  width: 1000px;
  top: -400px;
  left: -500px;
  z-index: 10;
}

#cloud-5 {
  width: 1000px;
  top: 500px;
  left: -500px;
  z-index: 10;
}

#cloud-6 {
  width: 1000px;
  left: -400px;
  z-index: 9;
}

.blob--green {
  position: absolute;
  max-width: 380px;
}

.blob--yellow {
  position: absolute;
  max-width: 250px;
}

.blob--purple {
  position: absolute;
  max-width: 250px;
}

.blob__center {
  transform: translateY(-25vh);

  @media (max-width: 470px) {
    transform: scale(0.5);
  }
}

.blob__left {
  left: -10vw;

  @media (max-width: 470px) {
    transform: translateY(35vh);
    max-width: 60%;
    left: 20%;
    right: 20%;
  }

}

.blob__right {
  right: -10vw;
  transform: translateY(10vh);
  @media (max-width: 470px) {
    display: none;
  }
}

.images__container {
  max-width: 50vw;
  position: absolute;
  // flex: 1;
}

.images__container img {
  zoom: 85%;
  position: absolute;
  @media (max-width: 1440px) {
    zoom: 70%;
  }

  @media (max-width: 1024px) {
    zoom: 60%;
  }

  @media (max-width: 470px) {
    zoom: 50%;
  }
}

.images__container--center {
  // justify-content: center;
  img {
    zoom: 70%;
    position: relative;
    transform: translateY(-40vh);

    @media (max-width: 470px) {
      opacity: 0;
    }
  }

}

.images__container--left {
  transform: translateX(-100px);
  @media (max-width: 470px) {
    // transform: translate(-10vw, 80vh);
    top: 0;
    bottom: 20%;
    left: 0;
    right: 50%;


  }
}

.images__container--right {
  transform: translate(-200px, 10vh);
  right: 0px;

  @media (max-width: 470px) {
    // transform: translate(-10vw, 80vh);
    top: 0;
    bottom: 20%;
    left: 50%;
    right: 0;


  }
}

.images__container--left img, .images__container--right img {
  opacity: 0;
  transform: translateY(-300px);
}

.images--mobile {
  @media (max-width: 470px) {
    zoom: 50%;
    opacity: 1;
  }
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.infosession__button {
  margin: 10px;
  padding: 15px 30px;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.2s ease all;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);


  @media (max-width: 470px) {
    font-size: 10pt ;
    padding: 10px 20px;
    margin: 5px;
  }
}

.infosession__button--blue {
  background-color: #85D4E5;
  color: white;

  &:hover {
    background-color: #508DAC;
  }
}

.infosession__button--yellow {
  background-color: #FADA48;
  color: black;

  &:hover {
    background-color: #DDC141;
  }
}

.infosession__button--white {
  background-color: #FFFFFF;
  color: black;

  &:hover {
    background-color: #DDDDDD;
  }
}

.infosession__button--grey {
  background-color: #EAEAEA;
  color: black;

  &:hover {
    background-color: #DDDDDD;
  }
}

.infosession__button--fa19 {
  background-color: #555AA8;
  color: white;

  &:hover {
    background-color: #787BBA;
  }
}

.infosession__button--sp20grey {
  background-color: #EAEAEA;
  color: rgb(18, 84, 98);

  &:hover {
    background-color: #DDDDDD;
  }
}

.infosession__button--sp20 {
  background-color: #F26530;
  color: white;

  &:hover {
    background-color: rgb(233, 68, 7);
  }
}

.index {
  .hero {
    margin-bottom: 10%;
    justify-content: center;
  }

  .hero h1 {
    font-weight: 600;
    font-size: 40pt;
    margin-bottom: 10px;
    color: #4A4A4A;
    max-width: 600px;
    min-width: 500px;
    @media (max-width: 470px) {
      font-size: 30pt;
      min-width: 100%;
      width: 80vw;
    }
  }

  .hero p {
    font-size: 16pt;
  }

  .hero__center {
    max-width: 100%;
    text-align: center;
  }

  .hero__right {
    max-width: 50%;

    @media (max-width: 640px) {
      max-width: 100%;
    }

    video {
      width: 70%;
      float: right;

      @media (max-width: 640px) {
        display: none;
        width: 100%;
      }

    }
  }

  .row__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .row {
    width: 100%;

    p {
      width: 40%;
    }

    img {
      width: 70%;
      max-width: $global-max-width * 0.7;
    }
  }

  .row__left {
    p {
      margin-left: 5%;
    }
  }

  .row__midhalf {
    width: 40%;
    margin: 5%;

    p, img {
      width: 100%;
    }
  }

  .row__right {
    p {
      float: right;
      margin: 20px 5px 5px 5px;
      padding-left: 50%;
      text-align: right;
      padding-right: 5%;
      width: 100%;
    }

    img {
      width: 70%;
      float: right;
    }
  }
}
